




<h1>Editar empleado</h1>

<div class="card">
    <div class="card-header">
        Editar empleado
    </div>
    <div class="card-body">
        
        <form>

            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="escribe tu nombre">
           
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo</label>
                <input type="email"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="escribe tu correo">
             
              </div>


              <div class="btn-group" role="group" aria-label="">
                  <button type="button" class="btn btn-success">Agregar</button>
                  <button type="button" class="btn btn-primary">Cancelar</button>
                  
              </div> 

        </form>

    </div>
    
</div>